.input-row {
  display: flex;
  align-items: center;
  label {
    margin-right: 20px;
  }
}

input, textarea {
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.actions {
  display: flex;
  justify-content: flex-end;

  div, button, a, span {
    margin-left: 18px;
  }
}

button, .button, [type="submit"], [type="button"] {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 2px;
  border: 0;
  background-color: $color-dark;
  color: white;
  font-weight: 400;
  border-radius: 12px;
  min-width: 140px;
  height: 42px;
  min-height: 42px;
  font-size: 1em;

  &:hover {
    color: white;
  }

  i {
    margin-right: 8px;
    font-weight: bold;
    margin-top: 2px;
  }
}

button.light, .button.light{
  background-color: transparent;
  color: $color-dark;

  &:hover {
    color: $color-dark;
  }
}

button.small, .button.small {
  min-width: 0 !important;
}