<h1>Settings</h1>
<section class="card">
<h2>API</h2>
<p class="highlight info"> <%= icon("lightbulb") %> Use this API key to push new logs.</p>
<div class="input-row">
<label>Your API KEY:</label>
<input class="flex-grow" type="text" readonly value={@api_key} disabled />
</div>
</section>